/* General Style */
body {
    background-color: #141414;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #e50914;
}

/* Movie Grid */
.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Movie Card Style */
.movie-card {
    background: #222;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
  }
